In [1]:
import pandas as pd
import numpy as np

In [ ]:
train = pd.read_csv('Chicago_data_with_category.csv', parse_dates=['Dates'])

In [ ]:
train['day_of_week'] = [i.day_name() for i in train.Dates]

In [ ]:
train['time'] = [i.strftime("%H:%M:%S") for i in train.Dates]

In [ ]:
train['day_of_year'] = [i.timetuple().tm_yday for i in train.Dates]

In [ ]:
import csv

def write_variable_to_csv(variable, file_path):
    with open(file_path, mode='w', newline='') as csvfile:
        csv_writer = csv.writer(csvfile)
        csv_writer.writerow([variable])

write_variable_to_csv(train, r'C:\Users\curtu\OneDrive - Durham University\Documents\ancsv.csv')

In [ ]:
import csv

f = open(r'C:\Users\curtu\OneDrive - Durham University\Documents\ancsv.csv', 'w')

writer = csv.writer(f)

writer.writerow(train.columns)
for index, row in train.iterrows():
    writer.writerow(row)

f.close()

In [ ]:
train.to_csv(index=False)

In [50]:
df = pd.read_csv('Fixing_anomalies_4.csv')

In [3]:
df

         district  year  day_of_year  hour_of_day day_of_week   date
0               1  2001            1            0      Monday  01-01
1               1  2001            1            8      Monday  01-01
2               1  2001            1            9      Monday  01-01
3               1  2001            1           10      Monday  01-01
4               1  2001            1           12      Monday  01-01
...           ...   ...          ...          ...         ...    ...
4026062        25  2017           18           21   Wednesday  01-18
4026063        25  2017           18           21   Wednesday  01-18
4026064        25  2017           18           22   Wednesday  01-18
4026065        25  2017           18           22   Wednesday  01-18
4026066        25  2017           18           22   Wednesday  01-18

[4026067 rows x 6 columns]

In [36]:
def redistribute(date,monthlength,factor):
    import random
    firstcount = 0
    secondcount = f'{date[:2]}-{(str(random.randint(1,monthlength))).zfill(2)}'
    for i in range(len(df['date'])):
        if (df['date'])[i] == date and firstcount % factor == 0:
            (df['date'])[i] = secondcount
        firstcount += 1
        secondcount = f'{date[:2]}-{(str(random.randint(1,monthlength))).zfill(2)}'

In [51]:
# Adjusting 1st March
redistribute('03-01',31,10)

C:\Users\curtu\AppData\Local\Temp\ipykernel_22932\2048215876.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  (df['date'])[i] = secondcount

In [60]:
# Adjusting 1st January
redistribute('01-01',31,6)

C:\Users\curtu\AppData\Local\Temp\ipykernel_22932\2048215876.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  (df['date'])[i] = secondcount

In [58]:
# Adjusting 1st June
redistribute('06-01',30,9)

C:\Users\curtu\AppData\Local\Temp\ipykernel_22932\2048215876.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  (df['date'])[i] = secondcount

In [61]:
import csv

f = open(r'C:\Users\curtu\OneDrive - Durham University\Documents\Chicago_data_fully_cleaned_3.csv', 'w')

writer = csv.writer(f)

writer.writerow(df.columns)
for index, row in df.iterrows():
    writer.writerow(row)

f.close()

In [69]:
# Generating all possible timepoints
import pandas as pd

district_values = [district for district in range(1, 26) if district not in [13, 21, 23]]

years_per_district = list(range(2001, 2018))

days_per_year = list(range(1, 367)) + list(range(1, 30))

hours_per_day = list(range(24))

data = []

for district in district_values:
    for year in years_per_district:
        if year == 2017:
            days = days_per_year[-29:]  # Only use the last 31 days for the year 2017
        elif year == 2004 or year == 2008 or year == 2012 or year == 2016:
            days = days_per_year[:367]
        else:
            days = days_per_year[:366]
        for day_of_year in days:
            for hour_of_day in hours_per_day:
                data.append([district, year, day_of_year, hour_of_day])

columns = ["district", "year", "day_of_year", "hour_of_day"]
dataframe = pd.DataFrame(data, columns=columns)

print(dataframe)

         district  year  day_of_year  hour_of_day
0               1  2001            1            0
1               1  2001            1            1
2               1  2001            1            2
3               1  2001            1            3
4               1  2001            1            4
...           ...   ...          ...          ...
3109387        25  2017           29           19
3109388        25  2017           29           20
3109389        25  2017           29           21
3109390        25  2017           29           22
3109391        25  2017           29           23

[3109392 rows x 4 columns]

In [72]:
import datetime

def get_date_from_day_of_year(year, day_of_year):
    date_object = datetime.datetime(year=year, month=1, day=1) + datetime.timedelta(days=day_of_year - 1)
    
    formatted_date = date_object.strftime('%m-%d')
    
    return formatted_date

In [75]:
for i in range(len(dataframe['day_of_year'])):
    dataframe['day_of_year'][i] = get_date_from_day_of_year(int(dataframe['year'][i]), int(dataframe['day_of_year'][i])

In [124]:
# Getting day_of_week
import datetime

def is_leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            return year % 400 == 0
        return True
    return False

def get_day_of_week(year, date_str):
    date_object = datetime.datetime.strptime(date_str, '%m-%d')
    
    if date_object.month == 2 and date_object.day == 29 and not is_leap_year(year):
        raise ValueError(f"{year} is not a leap year, so February 29 does not exist.")
    
    date_object = date_object.replace(year=year)
    
    day_of_week = date_object.strftime('%A')
    
    return day_of_week

day is out of range for month

In [125]:
for i in range(len(dataframe['day_of_year'])):
    if dataframe['day_of_year'][i] == '02-29':
        dataframe['day_of_week'][i] = 'fix_me_in_knime'
    else:
        dataframe['day_of_week'][i] = get_day_of_week(int(dataframe['year'][i]), dataframe['day_of_year'][i])

         district  year day_of_year  hour_of_day    zero  actually_zero
0               1  2001       01-01            0  Monday              0
1               1  2001       01-01            1  Monday              0
2               1  2001       01-01            2  Monday              0
3               1  2001       01-01            3  Monday              0
4               1  2001       01-01            4  Monday              0
...           ...   ...         ...          ...     ...            ...
3109387        25  2017       01-29           19  Sunday              0
3109388        25  2017       01-29           20  Sunday              0
3109389        25  2017       01-29           21  Sunday              0
3109390        25  2017       01-29           22  Sunday              0
3109391        25  2017       01-29           23  Sunday              0

[3109392 rows x 6 columns]

In [127]:
dataframe["zero"] = 0

In [93]:
get_day_of_week(2021, '01-01')

'Friday'

In [77]:
dataframe["zero"] = 0

In [63]:
import pandas as pd

def generate_date_range(year):
    start_date = pd.Timestamp(year=year, month=1, day=1)
    end_date = pd.Timestamp(year=year + 1, month=1, day=1)
    if pd.Timestamp(year=year, month=2, day=29).month == 2:
        end_date -= pd.Timedelta(days=1)  # Adjust for leap year
    date_range = pd.date_range(start=start_date, end=end_date, closed='left')
    return date_range.strftime('%m-%d')

districts = [district for district in range(1, 26) if district not in {13, 21, 23}]
years = list(range(2001, 2018))
dates = [generate_date_range(year) for year in years]
hour_of_day = list(range(24))

data = [(district, year, date, hour) for district in districts
                                     for year, date in zip(years, dates)
                                     for hour in hour_of_day]

df = pd.DataFrame(data, columns=['district', 'year', 'date', 'hour_of_day'])

print(df.head())

ValueError: day is out of range for month

In [16]:
dataframe["day_of_week"] = pd.to_datetime(dataframe["year"].astype(str) + "-" + dataframe["day_of_year"].astype(str), format="%Y-%j").dt.dayofweek

day_of_week_names = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
dataframe["day_of_week"] = dataframe["day_of_week"].map(lambda x: day_of_week_names[x])

print(dataframe)

         district  year  day_of_year  hour_of_day  zero day_of_week
0               1  2001            1            0     0      Monday
1               1  2001            1            1     0      Monday
2               1  2001            1            2     0      Monday
3               1  2001            1            3     0      Monday
4               1  2001            1            4     0      Monday
...           ...   ...          ...          ...   ...         ...
3343819        25  2017           29           19     0      Sunday
3343820        25  2017           29           20     0      Sunday
3343821        25  2017           29           21     0      Sunday
3343822        25  2017           29           22     0      Sunday
3343823        25  2017           29           23     0      Sunday

[3343824 rows x 6 columns]

In [129]:
import csv

f = open(r'C:\Users\curtu\OneDrive - Durham University\Documents\All_timepoints_table_4.csv', 'w')

writer = csv.writer(f)

writer.writerow(dataframe.columns)
for index, row in dataframe.iterrows():
    writer.writerow(row)

f.close()